//responsiveness sizings
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

//border radius
$border-radius: .3125rem;

//colors
$color-brown-booktale: #422800;
$color-dark-brown-booktale: #211400




