//responsiveness sizings
$tablet-min-width: 768px;
$desktop-min-width: 1280px;

//border radius
$border-radius: .3125rem;

//colors
$color-light-brown-booktale: #fbeee0;
$color-brown-booktale: #422800;
$color-medium-brown-booktale: #fcf8f2;
$color-dark-brown-booktale: #211400;



//carousel

$primary-bg-color: #ecf0f1;
$text-color: white;
$max-width: 25rem;
$font-size-large: 2rem;
