@use "src/styles/partials/_mixins" as *;
@use "src/styles/partials/variables" as *;

.sign-up {
  @include flex-center(column);
  color: $color-dark-brown-booktale;
  gap: 1rem;
  padding: 6rem 0;

  &__form {
    @include flex-center(column);
    margin: auto 0;
    gap: 1rem;

    &-field {
      align-self: flex-start;
      
      
      &-input {
        @include input-field;
        &::placeholder {
          font-size: 0.5rem;
        }
      }
    }
  }
  &__tooltip {
    width: 20rem;
      background-color: $color-light-brown-booktale;
      border: .0625rem solid #ccc;
      padding: .3125rem;
      font-size: .75rem;
      color: #333;
      border-radius: .25rem;
      margin-top: .3125rem;
      box-sizing: border-box;
    }
  }
