@use "src/styles/partials/_mixins" as *;
@use "src/styles/partials/variables" as *;

.past-tales {
  padding: 1rem 0;

  @include desktop {
    padding: 3rem 0;
  }

  &__how-to {
    padding: 0.5rem 1rem 1.5rem;
    text-align: center;

    &-copy {
      line-height: 1.5rem;
      font-size: 1.25rem;
    }
  }

  &__create-booktale-button {
    margin: 1.5rem;
    font-size: 1.25rem;
  }

  &__carousel {
    display: none;

    @include desktop {
      width: 99.2vw;
      display: block;
    }
  }

  &__list {
    @include flex-center(column);
    @include desktop {
      display: none;
    }
  }

  &__card {
    @include flex-center(column, space-between);
    flex: 0 0 auto;
    margin: 0 0 1.5rem 0;
    padding: 1.75rem 1rem 1.75rem 1rem;
    border-radius: 0.5rem;
    height: 32rem;
    width: 18rem;
    background-color: $color-medium-brown-booktale;
    box-shadow: 0.125rem 0.125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.3);
    gap: 3rem;
    opacity: 0;
    transform: translateY(-1.25rem);
    animation: fadeInUp 0.5s forwards;
    animation-delay: 0s;
    transition: all 0.5s ease;

    @include desktop {
      &:hover {
        box-shadow: 0.25rem 0.25rem 0.625rem 0.625rem rgba(0, 0, 0, 0.5);
        transform: scale(1.03);
      }
    }

    @include tablet {
      @include flex-center(row, flex-start);
      padding: 1.75 1rem 1.25rem 1rem;
      width: 40rem;
      height: 18rem;
    }

    @include desktop {
      @include flex-center(column, space-between);
      flex: 0 0 auto;
      margin: 0 0 1.5rem 0;
      padding: 1.75rem 1rem 1.75rem 1rem;
      border-radius: 0.5rem;
      width: 18rem;
      height: 35rem;
    }
  }

  &__image {
    width: 10rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem 0.3125rem rgba(0, 0, 0, 0.3);
    // width: 100%;
  }

  &__info {
    @include flex-center(column, space-between, normal);
    max-height: 35%;
    @include tablet {
      max-height: 100%;
    }
    @include desktop {
      max-height: 35%;
    }
  }
  &__book-title {
    font-size: 1.125rem;
  }

  &__author {
    padding: 0 0 1rem 0;
  }

  &__copy {
    width: 100%;
    word-wrap: break-word;
  }
  &__comment {
    max-width: 100%;
    margin: 0.25rem 0;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    &-bold {
      font-weight: 600;
    }
  }

  &__date {
    padding: 0.25rem 0;
    &-bold {
      font-weight: 600;
    }
  }
  &__location {
    padding: 0.25rem 0;
    &-bold {
      font-weight: 600;
    }
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
