@use "src/styles/partials/_mixins" as *;
@use "src/styles/partials/variables" as *;

.comments {
  width: 100%
}
.comment {
    @include flex-center(row, center, flex-start);
    width:100%;
    height: 100%;
    padding: 1rem 0rem;
    margin: 0 auto;
    align-items: stretch;
    
    &__left{
      @include flex-center(column, flex-start, flex-start);
      padding: 0 1rem 0 0; 
      width: 29%;
    }
  

    &__right {
        @include flex-center(row, normal, normal);
        flex-grow: 1;
        padding: 0 0 0 1rem;
        width: 70%;
    }

    &__divider {
      @include flex-center();
      width: 0.0625rem;
      background-color: #dddddd;
    }
  
    &__commentor {
      font-weight: 600;
      font-size: 1rem;
      padding: 0 0 0.5rem;
      word-break: break-all;
    }

    &__location {
        font-size: 0.6875rem;
        word-wrap: break-word;
    }
    &__comment {
      max-width: 100%;
      word-wrap: break-word;
    }
    &__timestamp {
        font-size: 0.75rem;
    }
  }