@use "src/styles/partials/_mixins" as *;
@use "src/styles/partials/variables" as *;

.comment {
    @include flex-center(row, normal, normal);
    max-width: 100%;
    padding: 1rem 8rem;
    gap: 1.5rem;
    
    &__left{
      @include flex-center(column, flex-start, flex-start);
      padding: 0 2rem 0 0 
    }
  

  
    &__right {

        max-width: 70%;
        @include flex-center(row, normal, normal);

    }
  
    &__commentor {
      font-weight: 600;
      padding: 0 0 0.5rem;
    }

    &__location {
        font-size: 0.75rem;
    }
    &__comment {
      max-width: 100%;
      word-wrap: break-word;
      font-size: .875rem;
    }
    &__timestamp {
        font-size: 0.75rem;
    }
  }