@use "src/styles/partials/_mixins" as *;
@use "src/styles/partials/variables" as *; 

.log-in-page {
    @include flex-center(column);
    width: 100%;
    color: $color-dark-brown-booktale;
    padding: 7rem 0;

    
}

.form {
    @include flex-center(column);
    gap: 1rem;
    
    &__title {
        align-self: flex-start;
    }
    &__input {
        @include input-field;
    }
}