@use "src/styles/partials/_mixins" as *;
@use "src/styles/partials/variables" as *;

.footer {
  background-color: $color-light-brown-booktale;
  color: white;
  padding: 0.5rem 1.5rem 0;
  position: fixed;
  left: 0;
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  z-index: 10;

  @include desktop {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
  &.hidden {
    transform: translateY(100%);
  }

  &.visible {
    transform: translateY(0);
  }

  &__title {
    font-size: 1rem;
    padding: 0.25rem 0;
  }

  &__list {
    @include flex-center(row, space-around);
    list-style-type: none;
  }

  &__item {
    @include flex-center();
    margin: 0.25rem 0;

    &-link {
      display: none;
      color: $color-brown-booktale;
      font-size: 0.875rem;

      @include tablet {
        display: block;
      }
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      padding: 0 0.5rem 0 0;
      @include tablet {
        width: 2.5rem;
        height: 2.5rem;
      }
      &-mail {
        @include tablet {
          transform: translateY(0.2rem);
        }
      
    }
    }

    
  }

  &__item a:hover {
    text-decoration: underline;
  }

  &__bottom-container {
    @include flex-center();
  }
}
