@use "src/styles/partials/_mixins" as *;
@use "src/styles/partials/variables" as *; 


.book-info {
    width: 100%;
    @include flex-center();
    padding: 1rem 0 0;
    color: $color-dark-brown-booktale;

    &__container {
        @include flex-center(column);
        margin: 0 0 1.5rem 0;
        padding: 1.75rem 1rem 1.25rem 1rem;
        border-radius: 0.5rem;
        background-color: #fcf8f2;
      
        box-shadow: .125rem .125rem .3125rem .3125rem rgba(0, 0, 0, 0.1);
        gap: 3rem;
        transition: all 0.3s ease;
      }

    &__image {
        width: 10rem;
        box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.3);
    }

    &__title {
        font-size: 1rem;
    }

    &__label {
        font-weight: 600;
    }
}
